<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-6">
        <form #promoForm="ngForm" (ngSubmit)="addPromotion(promoForm)">
            <div class="form-outline mb-4">
                <input class="form-control" id="form1Example1" [(ngModel)]="promotion.promotionCode" name="promotionCode" />
                <label class="form-label" for="form1Example1">Promotion Code</label>
            </div>
            <div class="form-outline mb-4">
                <input class="form-control" id="form1Example2" [(ngModel)]="promotion.amount" name="amount"/>
                <label class="form-label" for="form1Example1">Amount</label>
            </div>
            <div class="form-outline mb-4">
                <input type="datetime-local" id="meeting-datetime" name="expirationDate"
                 min="2023-05-02T09:00" [(ngModel)]="promotion.expires" required>
                <label class="form-label" for="form1Example1">Expiration date</label>
            </div>
            

            <div align="end">
                <button type="button" class="btn btn-outline-dark">Clear</button>
                <button type="submit" class="btn btn-outline-success">Apply Promotion</button>
            </div>

        </form>


    </div>